@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Josefin+Sans:ital,wght@0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Kanit:ital,wght@0,300;0,500;1,200;1,600&family=Lobster&family=Rubik+Iso&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Kanit,Acme;
}

/* main {
    background-color: red;
}
#sun {
    background-color: rgb(188, 154, 219);
}
#moon {
    background-color: rgb(243, 124, 207);
}
#sun label {
    color: black;
}
#moon label {
    color: #fff;
} */